

<div class="wk-flex wk-card" style="padding: 10px;margin: 0px 10px;">
  <div style="width: 5%;">
      <img [src]="employee.employeeImgPath" height="55" width="55" alt="">
  </div>
  <div style="width: 15%;padding-top: 15px;">
      <div><span style="color: #00619c;">{{employee.employeeName}}</span></div>
  </div>
  <div style="width: 10%;padding-top: 15px;">
    {{employee.employeeDesk}}
  </div>
  <div style="width: 10%;padding-top: 15px;">
    {{employee.employeeProject}}
  </div>
  <div style="width: 10%;padding-top: 15px;">
    {{employee.employeeExt}}
  </div>
  <div style="width: 25%;padding-top: 15px;">
    {{employee.employeeEmail}}
  </div>
</div>
