.wk-module-header{
    
    font-size: 35px;
    padding: 15px 25px;
    width: 25%;
    color: white;
    background-color: #85bc20;
    font-family: FranziskaWebPro,serif;
    height: 80px;   
    font-weight: 500;
    margin: 0;
    
}

.wk-module-sum{
    font-size: 1.17em;
    font-weight: 500;
    color: #007ac3;
    display: block;
    padding: 5px 10px;
}