<section class="detailTopSection">
    <wk-nav-bar></wk-nav-bar>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="innerDetailHeadingBox">
                <h3 class="committeeLandingHeading">
                    {{employee.Name}}
                </h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</section>

<div style="margin:10px; width: 42%;font-size: 20px;padding-left: 0px;">

    <form>

        <table style="margin:10px; width: 42%;font-size: 20px;padding-left: 10px;">
            <tr>
                <td><label for="empId">Employee Id</label></td>
                <td><input type="text" class="" id="empId" disabled="disabled" value="{{employee.EmployeeId}}"></td>
                <td><label for="name">Name</label></td>
                <td><input type="text" class="" id="name" value="{{employee.Name}}"></td>
            </tr>
            <tr>
                <td> <label for="emailId">Email Id</label></td>
                <td><input type="text" class="" id="emailId" disabled="disabled" value="{{employee.EmailId}}"></td>
                <td><label for="alterEgo">Designation</label></td>
                <td><input type="text" class="" id="designation" value="{{employee.Designation}}"></td>
            </tr>
            <tr>

                <td><label for="supervisorId">Supervisor</label></td>
                <td>
                    <select name="repeatSelect" id="repeatSelect" ng-model="lookUpData.model">
                        <option *ngFor="let option of lookUpData.Supervisor" value="option.SupervisorIntId">
                            {{option.SupervisorName}} </option>
                    </select>
                </td>
                <td><label for="alterEgo">Team</label></td>
                <td> <select name="repeatSelect" id="repeatSelect" ng-model="lookUpData.model">
                        <option *ngFor="let option of lookUpData.Teams" value="option.TeamIntId"> {{option.Team}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="summary">Summary</label></td>
                <td><input type="text" class="" id="summary" value="{{employee.Summary}}"></td>
                <td><label for="dob">Date Of Birth</label></td>
                <Td><input type="text" class="" id="dob" value="{{employee.DateOfBirth}}"></Td>
            </tr>
            <tr>
                <td><label for="deskno">Desk No</label></td>
                <td><input type="text" class="" id="deskno" value="{{employee.DeskNo}}"></td>
                <td><label for="ext">Extension</label></td>
                <td><input type="text" class="" id="ext" value="{{employee.Extension}}"></td>
            </tr>
            <tr>
                <td><label for="joining">Joining Date</label></td>
                <td><input type="text" class="" id="joiningdate" value="{{employee.JoiningDate}}"></td>
                <td><label for="about">About</label></td>
                <td> <input type="text" class="" id="about" value="{{employee.About}}"></td>
            </tr>
            <tr>
                <td><label for="photo">Photo</label></td>
                <td><input type="text" class="" id="photo"></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>

    </form>

</div>