<div style="margin:10px; width: 42%;font-size: 20px;padding-left: 0px;">

  <form>

    <table>
        <tr>
                <td> <label for="empId">EmployeeId</label></td>
                <td> <input type="text" class="" id="empId" disabled="disabled"></td>
                <td><label for="name">Name</label></td>
                <td><input type="text" class="" id="name" required></td>
        </tr>
        <tr>
            <td> <label for="emailId">EMailId</label></td>
            <td><input type="text" class="" id="emailId"  disabled="disabled">            </td>
            <td><label for="supervisorId">SupervisorIntId</label></td>
            <td><input type="text" class="" id="supervisorId"></td>
        </tr>
        <tr>
                <td><label for="alterEgo">Designation</label></td>
                <td><input type="text" class="" id="designation"></td>
                <td><label for="alterEgo">Team</label></td>
                <td> <input type="text" class="" id="team"></td>
            </tr>
            <tr>
                    <td> <label for="summary">Summary</label></td>
                    <td><input type="text" class="" id="summary"></td>
                    <td><label for="dob">DateOfBirth</label></td>
                    <Td><input type="text" class="" id="dob"></Td>
            </tr>
            <tr>
                <td><label for="deskno">DeskNo</label></td>
                <td><input type="text" class="" id="deskno"></td>
                <td><label for="ext">Extension</label></td>
                <td><input type="text" class="" id="ext"></td>
            </tr>
            <tr>
                <td><label for="joining">JoiningDate</label></td>
                <td><input type="text" class="" id="joiningdate"></td>
                <td><label for="about">About</label></td>
                <td> <input type="text" class="" id="about"></td>
            </tr>
            <tr>
                <td><label for="photo">Photo</label></td>
                <td><input type="text" class="" id="photo"></td>
                <td></td>
                <td></td>
            </tr>
    </table>
    
      <button type="submit" (click)="onSubmit()"class="btn btn-success">Submit</button>

  </form>

</div>