<wk-module-header headerText="{{projectName}}"></wk-module-header>
<div class="wk-flex">
  <div style="width: 225px;padding: 10px 0px 10px 10px;" ><img class="wk-card" src="assets/images/axcess.jpg" height="200" width="200" alt=""></div>
  <div>
    <div style="padding:10px;">
      <div style="color:#409bd2;"><h3>Project Description:</h3></div>
      <div style="padding:0px;"><span>As the accounting profession’s first modular, cloud-based tax preparation and compliance and workflow management solution, CCH Axcess™ delivers a powerful set of innovative features designed to make the tax and accounting industry more efficient and profitable.</span></div>
    </div>
  </div>
</div>

<div class="wk-flex" style="height: 425px;">  
  
  <div style="width: 20%;padding:10px;margin: 10px;" class="wk-card">
    <div style="border-bottom: 1px solid gray;color:#409bd2;" ><h3>Team Members:</h3></div>
    <div>
      <div style="padding:5px;"><span>Pradipkumar Desai</span></div>
      <div style="padding:5px;"><span>Akshay Deshpande</span></div>
      <div style="padding:5px;"><span>Vikul Rathod</span></div>
      <div style="padding:5px;"><span>Sanket Bohrade</span></div>
    </div>
  </div>
  
  <div style="width: 40%;padding:10px;margin: 10px;" class="wk-card">
    <div style="border-bottom: 1px solid gray;color:#409bd2;" ><h3>Technologies:</h3></div>
    <div></div>
  </div>

  <div style="width: 40%;padding:10px;margin: 10px;" class="wk-card">
    <div style="border-bottom: 1px solid gray;color:#409bd2;" ><h3>Events:</h3></div>
    <div></div>
  </div>
</div>


