<div class="wk-flex wk-card" style="padding: 10px;background-color: #f6f4f3;">
  <div style="width: 30%;background-color: #ca7b00;padding: 15px;">
    <div style="border-bottom: 1px solid white;margin-bottom: 10px;">
      <h3 style="color:white;">About Pune GIC</h3>
    </div>
    <p style="color:white;">
      Wolters Kluwer (www.wolterskluwer.com) is a global leader in information
      services and solutions for professionals in the health, tax and
      accounting, risk and compliance, finance and legal sectors. We help our
      customers make critical decisions every day by providing expert solutions
      that combine deep domain knowledge with specialized technology and
      services. Founded in 1836 and headquartered in Alphen aan den Rijn, the
      Netherlands, the company serves customers in over 180 countries, maintains
      operations in over 40 countries and employs 19,000 people worldwide.
      Wolters Kluwer reported 2017 annual revenues of €4.4 billion. Listed on
      Euronext Amsterdam, Wolters Kluwer shares (WKL) are included in the AEX
      and Euronext 100 indices. Wolters Kluwer has a sponsored Level 1 American
      Depositary Receipt program. The ADRs are traded on the over-the-counter
      market in the U.S. (WTKWY).
    </p>
  </div>

  <div style="width:70%;" >
    <div style="padding:0px 0px 10px 30%;"><wk-org-chart-card></wk-org-chart-card></div>

    <div style="padding:0px 0px 10px 30%;"><wk-org-chart-card></wk-org-chart-card></div>

    <div style="padding:0px 0px 10px 13%;"class="wk-flex"><wk-org-chart-card></wk-org-chart-card><wk-org-chart-card></wk-org-chart-card></div>
  </div>

</div>
