<!-- <wk-module-header headerText="Policies & Procedures"></wk-module-header>
<div>        
    <ul style="margin: 25px 0px 0px -30px;">
        <li *ngFor="let policy of policies" style="display: inline-block;width: 300px;height: 195px;background-color: white;margin-bottom: 7px;padding: 0px 10px;">
           <wk-policy-card [policy]="policy"></wk-policy-card>
        </li>
    </ul>  
</div> -->
<section class="detailTopSection">
	<wk-nav-bar></wk-nav-bar>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="innerDetailHeadingBox">
				<h3 class="committeeLandingHeading">
					HR Policies &amp; Procedures
				</h3>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

</section>
<section class="detailInnerSection">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row innerInfoRow">
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>Employeewise</h4>
								<h5>Process to update employee's personal detail.</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>Telephone Usage</h4>
								<h5>Policy to use company/desk as well as personal phone.</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>General Policy</h4>
								<h5>Policy to follow like Business code of conduct, Dress code.</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>Work From Home (WFH)</h4>
								<h5>Policy about WFH arrangement, instance and understanding</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>Performance Management Policy </h4>
								<h5>Policy about Employee performance, appraisal, etc.</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="Policies and Procedures Details.html">
						<div class="landingPolicyBox landingPolicyBoxDetail">
							<div class="landingPolicyContent">
								<h4>Employee Referral Policy (ERP)</h4>
								<h5>Policy about ERP, like eligibility, purpose, reward</h5>
								<h6>Wed, Jul 20, 2016</h6>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>



</section>