<section class="detailTopSection">
  <wk-nav-bar></wk-nav-bar>
 
 
</section>

<section >
 
  <ngb-tabset>
    <ngb-tab title="Policies">
      <ng-template ngbTabContent>
       <h1>Policies</h1>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle> Employee Directory</ng-template>
      <ng-template ngbTabContent>
        <h1>Employee directory</h1>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Achievements">
      <ng-template ngbTabContent>
       <h1>Achievements</h1>
      </ng-template>
    </ngb-tab>
   
    <ngb-tab title="Events">
      <ng-template ngbTabContent>
       <h1>Events</h1>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Notifications">
      <ng-template ngbTabContent>
       <h1>Notifications</h1>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  
</section>


