
<section class="detailTopSection">
	<wk-nav-bar></wk-nav-bar>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="innerDetailHeadingBox">
				<h3 class="committeeLandingHeading">
					Add/Update Openings
				</h3>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

</section>
<section class="detailInnerSection">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row innerInfoRow">
        
        <form>
          <div class="form-group">
            <label for="Jobcode">Job Code</label>
            <input type="text" class="form-control" id="jobCode" placeholder="Jobcode" [(ngModel)]="job.Jobcode" name="Jobcode">
          </div>
          <div class="form-group">
            <label for="designation">Designation</label>            
            <input type="text" class="form-control" id="designation" placeholder="Designation"  [(ngModel)]="job.Designation" name="Designation">
          </div>          
          <div class="form-group">
            <label for="skills">Skills</label>
            <textarea class="form-control" id="skills" rows="3"   [(ngModel)]="job.Skills" name="Skills"></textarea>
          </div>
          <div class="form-group">
            <label for="experience">Experience</label>            
            <input type="text" class="form-control" id="experience" placeholder="Experience" [(ngModel)]="job.Experience" name="Experience">
          </div>
          <button class="btn btn-primary" type="submit" (click)="save()">Submit</button>
        </form>

			</div>
		</div>
		<div class="col-md-2"></div>
	</div>



</section>