<wk-module-header headerText="New joinees"></wk-module-header>

<div *ngFor="let policy of [1,2]" style="background-color: white;margin-bottom: 7px;padding: 0px 10px;">
    
  <div style="margin: 10px 0px 0px 10px; background-color: #f6f4f3;" class="wk-flex wk-card">
    
    <div style="width:100px;padding: 5px 0px 5px 5px;">
      <div><img src="assets/images/pradip.jpg" height="75" width="75" alt=""></div>
    </div>
    
    <div style="width:15%;padding-top: 10px;">
      <div><h3 style="color: #00619c;"> Pradipkumar Desai</h3></div>
      <div><h6>Sr. Software Engineer I</h6></div>
    </div>

    

    <div style="width:10%;padding: 10px 10px">
      <div style="border-bottom: 1px solid gray;"><h3 style="color: #85bc20;">AXCESS</h3></div>
      <div><h6 style="color: #85bc20;">Admin Manager</h6></div>
      
    </div>

    <div style="width:75%;padding:5px;background-color: #ca7b00;color: white;">
      Pradipkumar has 6 years experience with various technologies like Angular, C#. Pradipkumar has 6 years experience with various technologies like Angular, C#
    </div>
  </div>    
  
</div>