<section class="detailTopSection">
    <wk-nav-bar></wk-nav-bar>  
	<div class="row">	
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="innerDetailHeadingBox">					
				<img src="../../../../assets/img/Award.png"/>
				<h3>
					{{achievement.EmployeeName}}, <span>"{{achievement.Title}}"</span>
				</h3>
				<a href="#" routerLink="/emp-achievements"><button>Go back to Achievements</button></a>
			</div>
		</div>			
		<div class="col-md-2"></div>
	</div>   

</section>

<section class="detailInnerSection">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">				
				<div class="policiesInnerDetailContent">
					<div class="content">
						<p>
							{{achievement.Comment}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		
		
	</section>