<div style="height: 65px;display: flex;padding-top: 5px;">
  <div style="float: left;width: 80%;">
    <div><a class="navbar-brand wk-logo" href="#" routerLink="/home" ></a></div>
    <!-- <div style="padding-left: 75px;"><span class="product-tag"><strong>Global Inhouse Center</strong> </span></div> -->
    
  </div>
  <div class="header-top-container" style="width: 20%;">
    <div style="float:right;">
      <a href="#" class="wk-nav-sub-links" routerLink="/about-us">About us</a> |<span class="glyphicon glyphicon-user"></span> Pradipkumar Desai
    </div>

  </div>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light wk-nav-background">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Human Resources<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li><a class="wk-nav-sub-links" routerLink="/policies-procedures" href="#">Policies & Procedures</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/emp-achievements">Employee Achievement</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/internal-opening">Internal Openings</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/downloads">Downloads</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/new-joinees">New joinees</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/birthdays-month">Birthdays this month</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Help Desk<span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/admin">Admin</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/it-support">IT Support</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Committees<span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/food">Food</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/fun">Fun</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/sport">Sports</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/women">Women's</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/security">Security</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/tech">Tech</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/csr">CSR</a></li>
          </ul>
        </li>

        <li><a class="wk-nav-links" href="#" routerLink="/hot-links">Hot Links</a></li>

        <li><a class="wk-nav-links" href="#" routerLink="/emp-dir">Employee Directory</a></li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/axcess">Axcess</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/ifirm">IFirm</a></li>
          </ul>
        </li>

        <li><a class="wk-nav-links" href="#" routerLink="/org-chart">Orgnizational Chart</a></li>
      </ul>
    </div>
  </nav>
</div>