<!-- <wk-module-header headerText="Employee Directory"></wk-module-header> -->
<!-- <div>
    <input style="margin:10px; width: 22%;height: 50px;font-size: 20px;padding-left: 10px;" placeholder="Search employee here"><i style="margin: 0px 0px 0px 0px; font-size: 30px;" class="fas fa-search"></i> 
</div>

<div>
    <div *ngFor="let employee of emloyeeList">
        <wk-directory-card [employee]="this.employee"></wk-directory-card>
    </div>  
    
</div> -->
<section class="detailTopSection">
    <wk-nav-bar></wk-nav-bar>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="innerDetailHeadingBox">
          <h3 class="committeeLandingHeading">
            Employee Directory
          </h3>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  
  </section>

  <section class="detailInnerSection">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row innerInfoRow">
            <div class="col-md-4 detailInnerContainer">
              <a href="#" routerLink="/committees-details/food">
                <div class="detailInnerBox"
                  style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/food.jpg);">
                  <img src="../../../../assets/img/Committee/food.png" />
                  <h4>Food</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 detailInnerContainer">
              <a href="#" routerLink="/committees-details/fun">
                <div class="detailInnerBox"
                  style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/fun.jpg);">
                  <img src="../../../../assets/img/Committee/fun.png" />
                  <h4>Fun</h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 detailInnerContainer">
              <a href="#" routerLink="/committees-details/sports">
                <div class="detailInnerBox"
                  style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/sports.jpg);">
                  <img src="../../../../assets/img/Committee/sports.png" />
                  <h4>Sports</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    
    </section>
<!-- <div class="container">
  <div class="card" style="width:400px" *ngFor="let emp of getRslt">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{emp.Name}}</h4>
      <p class="card-text">{{emp.Designation}}</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>
 
</div> -->