
<section class="detailTopSection">
	<wk-nav-bar></wk-nav-bar>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="innerDetailHeadingBox">
				<h3 class="committeeLandingHeading">
					Add Or Update Policies &amp; Procedures
				</h3>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

</section>
<section class="detailInnerSection">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row innerInfoRow">
        
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Policy Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example:WFH " ><!--[ng-model]="policy.PoliciesProcedureName"> -->
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Policy Summary</label>            
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" ><!--[ng-model]="policy.PoliciesProcedureDetails"> -->
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Policy Details</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea><!--[ng-model]="policy.PoliciesFullDetails"></textarea>-->
          </div>
          <button class="btn btn-primary" type="submit" ng-click="">Submit</button>
        </form>

			</div>
		</div>
		<div class="col-md-2"></div>
	</div>



</section>