<a href="#" id="back-to-top" title="Back to top" class="show"><img src="assets/img/back_to_top.png"></a>

<i class="material-icons downArrow">keyboard_arrow_down</i>
<section class="navSection">
  <wk-nav-bar></wk-nav-bar>
  <div class="row">	
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="masterHeadingBox">					
          <h1>
            Welcome to Pune GIC
          </h1>
          <h6>Cultivating Innovation &amp; Co-Creation</h6>
        </div>
      </div>			
      <div class="col-md-2"></div>
    </div>
  </section>
<router-outlet></router-outlet>

