<div>
  <div class="wk-card" style="padding: 5px;margin-top: 15px; width: 400px;background-color: white;margin-left: 20px;">
    <div
      style="margin: 3px 0px 0px 3px; background-color: white;"
      class="wk-flex"
    >
      <div style="width:100px;padding: 7px 0px 5px 5px;">
        <div>
          <img src="assets/images/pradip.jpg" height="75" width="75" alt="" />
        </div>
      </div>

      <div style="width:75%;padding-top: 10px;">
        <div><h3 style="color: #00619c;">Pramod Paranjape</h3></div>
        <div style="font-size: 15px;">
          <i class="fas fa-award"></i
          ><span style="margin-left: 10px;">ASSOCIATE GENERAL MANAGER</span>
        </div>
      </div>
    </div>
  </div>
</div>
