
<section class="detailTopSection">
		<wk-nav-bar></wk-nav-bar>
		<div class="row">	
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="innerDetailHeadingBox">					
					<img src="../../../../assets/img/Committee/{{this.name | lowercase}}.png"/>
					<h3>
						{{this.name}} Committee
					</h3>
					<a href="#" class="" routerLink="/committees"><button>Go back to Committee</button></a>
				</div>
			</div>			
			<div class="col-md-2"></div>
		</div>		
	</section>
<section class="detailInnerSection">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1"><i class="material-icons">info</i> About Committee</a></li>
					<li class=""><a href="#tab2"><i class="material-icons">group</i> Members</a></li>
				</ul>
				<div class="tab-content innerTabContent">
					<div id="tab1" class="tab-pane fade in active" [innerHTML]="commitee.CommitteeDetails">						
					</div>
					<div id="tab2" class="tab-pane fade in">
						<p>
							<b>Manager:</b> Nikhil Roy (Email: <a href="">Nikhil.Roy@wolterskluwer.com</a>)
						</p>
						<p>
							<b>Members:</b>
						</p>
						<ul>
							<li>Rohan Londhe (Email: <a href="">Rohan.Londhe@wolterskluwer.com</a>)</li>
							<li>Samit Singh (Email: <a href="">Samit.Singh@wolterskluwer.com</a>)</li>
							<li>Pankaj Tambe (Email: <a href="">Pankaj.Tambe@wolterskluwer.com</a>)</li>
							<li>Sanket Tambe (Email: <a href="">sanket.tambe@wolterskluwer.com</a>)</li>
							<li>Bhargav Mehta (Email: <a href="">Bhargav.Mehta@wolterskluwer.com</a>)</li>
							<li>Abhijit Rajpure (Email: <a href="">abhijeet.rajpure@wolterskluwer.com</a>)</li>
							<li>Kratika Singh (Email: <a href="">Kratika.Singh@wolterskluwer.com</a>)</li>
							<li>Vesley Rodriques (Email: <a href="">Vesley.Rodrigues@wolterskluwer.com</a>)</li>
							<li>Jaykumar Acharya (Email: <a href="">Jaykumar.Acharya@wolterskluwer.com</a>)</li>
							<li>Mahesh Mandekar (Email: <a href="">Mahesh.Mandekar@wolterskluwer.com</a>)</li>
							<li>Nitin Pawar (Email: <a href="">Nitin.Pawar1@wolterskluwer.com</a>)</li>
							<li>Aniket Manore (Email: <a href="">Aniket.Manore@wolterskluwer.com</a>)</li>
							<li>Neha Naza (Email: <a href="">Neha.Naza@wolterskluwer.com</a>)</li>
							<li>Inder Singh (Email: <a href="">Inder.Singh@wolterskluwer.com</a>)</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		
		
	</section>