<section class="detailTopSection">
  <wk-nav-bar></wk-nav-bar>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="innerDetailHeadingBox">
        <h3 class="committeeLandingHeading">
          Add Or Update Employee
        </h3>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</section>
<section class="detailInnerSection">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">EmployeeId</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EmployeeId">
        <!-- ng-model="{{job.Jobcode}}"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        <!-- ng-model="{{job.Designation}}"> -->
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">EmailId</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EmailId">
        <!-- ng-model="{{job.Jobcode}}"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Designation</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Designation">
        <!-- ng-model="{{job.Designation}}"> -->
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">EmployeeId</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EmployeeId">
        <!-- ng-model="{{job.Jobcode}}"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">ContactNo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ContactNo">
        <!-- ng-model="{{job.Designation}}"> -->
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">Supervisor</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Supervisor">
        <!-- ng-model="{{job.Jobcode}}"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">DateOfBirth</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="DateOfBirth">
        <!-- ng-model="{{job.Designation}}"> -->
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">DeskNo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="DeskNo">
        <!-- ng-model="{{job.Jobcode}}"> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Extension</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Extension">
        <!-- ng-model="{{job.Designation}}"> -->
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleFormControlInput1">Team</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Team">
            <!-- ng-model="{{job.Jobcode}}"> -->
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleFormControlSelect1">JoiningDate</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="JoiningDate">
            <!-- ng-model="{{job.Designation}}"> -->
          </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Summary</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Summary">
              <!--  ng-model="{{job.Experience}}"> -->
            </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form>          
          <div class="form-group">
            <label for="exampleFormControlSelect1">About</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Experience">
            <!--  ng-model="{{job.Experience}}"> -->
          </div>
          <button class="btn btn-primary" type="submit" ng-click="">Submit</button>
        </form>
    </div>
    <div class="col-md-2"></div>
  </div>



</section>