<section class="detailTopSection">
  <wk-nav-bar></wk-nav-bar>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="innerDetailHeadingBox">
        <h3 class="committeeLandingHeading">
          Add/Update Employee
        </h3>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</section>
<section class="detailInnerSection">
  <form>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="EmployeeId">Employee Id</label>
          <input type="number" class="form-control" id="EmployeeId" placeholder="Employee Id"
            [(ngModel)]="paramModel.EmployeeId" name="EmployeeId" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Name" placeholder="Name" [(ngModel)]="paramModel.Name"
            name="Name">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="EmailId">Email Id</label>
          <input type="email" class="form-control" id="EmailId" placeholder="Email Id" [(ngModel)]="paramModel.EmailId"
            name="EmailId">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Designation">Designation</label>
          <input type="text" class="form-control" id="Designation" placeholder="Designation"
            [(ngModel)]="paramModel.Designation" name="Designation">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="DateOfBirth">Date Of Birth</label>
          <input type="date" class="form-control" id="DateOfBirth" placeholder="Date Of Birth"
            [(ngModel)]="paramModel.DateOfBirth" name="DateOfBirth">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="ContactNo">Contact No</label>
          <input type="number" class="form-control" id="ContactNo" placeholder="Contact No"
            [(ngModel)]="paramModel.ContactNo" name="ContactNo">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Supervisor">Supervisor</label>
            <select class="form-control" id="Supervisor" placeholder="Supervisor"  [(ngModel)]="paramModel.SupervisorIntId" name="Supervisor">
                <option *ngFor="let supervisor of lookUpData.Supervisor" value="{{supervisor.SupervisorIntId}}">{{supervisor.SupervisorName}}</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Team">Team</label>
            <select class="form-control" id="Team" placeholder="Team"  [(ngModel)]="paramModel.Team" name="Team">
                <option *ngFor="let team of lookUpData.Teams" value="{{team.TeamIntId}}">{{team.Team}}</option>
            </select>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="DeskNo">Desk No</label>
          <input type="text" class="form-control" id="DeskNo" placeholder="Desk No" [(ngModel)]="paramModel.DeskNo"
            name="DeskNo">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Extension">Extension</label>
          <input type="number" class="form-control" id="Extension" placeholder="Extension"
            [(ngModel)]="paramModel.ContactNo" name="ContactNo">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="JoiningDate">Joining Date</label>
          <input type="date" class="form-control" id="JoiningDate" placeholder="Joining Date"
            [(ngModel)]="paramModel.JoiningDate" name="JoiningDate">
        </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="photo">Photo</label>
              <input type="file" class="form-control-file" id="photo">
            </div>        
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Summary">Summary</label>
          <textarea type="text" class="form-control" id="Summary" placeholder="Summary"
            [(ngModel)]="paramModel.Summary" name="Summary">
            </textarea>
        </div>
      </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="About">About</label>
            <textarea type="text" class="form-control" id="About" placeholder="About" [(ngModel)]="paramModel.About"
              name="About">
            </textarea>
          </div>
          <button class="btn btn-primary" type="submit" (click)="save()">Submit</button>
        </div>
        <div class="col-md-2"></div>
      </div>

    </form>

</section>