<section class="detailTopSection">
  <wk-nav-bar></wk-nav-bar>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="innerDetailHeadingBox">
        <h3 class="committeeLandingHeading">
          Add/Update Commitee
        </h3>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</section>
<section class="detailInnerSection">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row innerInfoRow">

        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Commitee Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Commitee Name">
            <!-- ng-model="{{job.Jobcode}}"> -->
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Committee Details</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" ng-click="">Submit</button>
        </form>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>



</section>