<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 WKGIC-HM-1" >


      <div style="background-color: #f6f4f3; height: 100%;" class="wk-card">

        <div style="padding: 10px; border-bottom: 1px solid gray;margin: 5px;" class="wk-flex">
          <div><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-hand-point-right"></i></span></div>
          <div><h3 style="color: #85bc20;font-family: FranziskaWebPro,serif;font-weight: 500;display: block;">Coming Soon...</h3></div>          
        </div>
        
        <div style="padding-left: 20px;height: 70%;">
          <div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Annual day 2018</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>10 years celebration</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Cake cutting</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Award destribution</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Fire drill</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>US travel</div>
            <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Team outing</div>
          </div>
        </div>

        <div>
          <div style="margin: 10px;height: 10%;float: right;">
            <span style="color:#007AC3">More...</span>
          </div>          
        </div>
      
      </div>
    </div>

    <div class="col-sm-3 WKGIC-HM-1" >
        <div style="background-color: #f6f4f3; height: 100%;" class="wk-card">
          
          
          <div style="padding: 10px; border-bottom: 1px solid gray;margin: 5px;" class="wk-flex">
            <div><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-share-square"></i></span></div>
            <div><h3 style="color: #85bc20;font-family: FranziskaWebPro,serif;font-weight: 500;">Committee Updates</h3></div>
            
          </div>

          <div style="padding-left: 20px;height: 70%;">
            <div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Annual day 2018</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>10 years celebration</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Cake cutting</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Award destribution</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Fire drill</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>US travel</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Team outing</div>
            </div>
          </div>
  
          <div>
            <div style="float: right;margin: 10px;height: 10%;">
              <span style="color:#007AC3">More ....</span>
            </div>
            
          </div>
  
          <!-- <div style="bottom: 0px;width: 100%;">
            <div style="float: right;background-color: tomato;padding: 5px 5px 5px 25px;width: 70px;height: 70px;"><span style="font-size: 40px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span></div>
            
          </div> -->
        </div>
      </div>

    <div class="col-sm-6 WKGIC-HM-1" >
        <div style="background-color: #85bc20; height: 100%;margin-top: 5px;" class="wk-card wk-flex">
          
          <div style="width:40%;">
              <div style="padding: 10px 0px; border-bottom: 1px solid white;margin-left: 100px;" class="wk-flex">
                 
                  <div><h3 style="color: white;font-family: FranziskaWebPro,serif;font-weight: 500;">Annual Day 2018</h3></div>
                  <div style="margin-left: 20px;"><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-double-right"></i></span></div>
                </div>
      
                <div style="padding-left: 20px;height: 70%;margin-left: 80px;">
                  <div style="padding: 10px;background-color: white;margin: 10px 15px 10px 0px;">
                    <div style="border-bottom: 1px solid gray;" class="wk-flex">
                      <div><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-map-marker-alt"></i></span></div>
                      <div><h3 style="color: #ca7b00;font-family: FranziskaWebPro,serif;font-weight: 500;padding-bottom: 5px;padding-top: 5px;">Westin, Pune</h3></div>
                      
                    </div> 
                    <div><small style="color:#007AC3;"> Wed, Jul 20, 2016</small></div>
                  </div>
                </div>
        
                <div>
                  <div style="float: right;margin: 10px;height: 10%;">
                    <span style="color:white">See More ....</span>
                  </div>
                  
                </div>
          </div>

          <div style="width:60%;background-color: white;margin: 5px;">
              <ngb-carousel *ngIf="images" style="margin: 10px 10px 5px 10px;">
                  <ng-template ngbSlide>
                    <img [src]="images[0]" alt="Random first slide">
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img [src]="images[1]" alt="Random second slide">
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img [src]="images[2]" alt="Random third slide">
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
          </div>
          
        
  
        
        </div>
      </div>
    
   
   
  </div>


  <div class="row">

      <div class="col-sm-4 WKGIC-HM-1">
          <ngb-carousel *ngIf="images" style="margin: 15px;">
              <ng-template ngbSlide>
                <img [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[2]" alt="Random third slide">
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </ng-template>
            </ngb-carousel>
      </div>
  
      <div class="col-sm-3 WKGIC-HM-1" >
        <div style="background-color: #f6f4f3; height: 100%;" class="wk-card">
          
          <div style="padding: 10px; border-bottom: 1px solid gray;margin: 5px;" class="wk-flex">
            <div><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-paperclip"></i></span></div>
            <div><h3 style="color: #85bc20;font-family: FranziskaWebPro,serif;font-weight: 500;">My Requestes</h3></div>
            
          </div>
          <div style="padding-left: 20px;height: 70%;">
            <div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Annual day 2018</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>10 years celebration</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Cake cutting</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Award destribution</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Fire drill</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>US travel</div>
              <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Team outing</div>
            </div>
          </div>
  
          <div>
            <div style="float: right;margin: 10px;height: 10%;">
              <span style="color:#007AC3">More....</span>
            </div>
            
          </div>
  
          <!-- <div style="bottom: 0px;width: 100%;">
            <div style="float: right;background-color: tomato;padding: 5px 5px 5px 25px;width: 70px;height: 70px;"><span style="font-size: 40px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span></div>
            
          </div> -->
        </div>
      </div>
  
      <div class="col-sm-5 WKGIC-HM-1" >
          <div style="background-color: #f6f4f3; height: 100%;" class="wk-card">
            
            <div style="padding: 10px; border-bottom: 1px solid gray;margin: 5px;" class="wk-flex">
              <div><span style="font-size: 25px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-envelope"></i></span></div>
              <div><h3 style="color: #85bc20;font-family: FranziskaWebPro,serif;font-weight: 500;">Notifications</h3></div>
              
            </div>
            <div style="padding-left: 20px;height: 70%;">
              <div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Annual day 2018</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>10 years celebration</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Cake cutting</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Award destribution</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Fire drill</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>US travel</div>
                <div style="padding: 5px;"><span style="font-size: 15px;margin-right: 10px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span>Team outing</div>
              </div>
            </div>
    
            <div>
              <div style="float: right;margin: 10px;height: 10%;">
                <span style="color:#007AC3">More....</span>
              </div>
              
            </div>
    
            <!-- <div style="bottom: 0px;width: 100%;">
              <div style="float: right;background-color: tomato;padding: 5px 5px 5px 25px;width: 70px;height: 70px;"><span style="font-size: 40px;"><i _ngcontent-c10="" class="fas fa-angle-right"></i></span></div>
              
            </div> -->
          </div>
        </div>
     
     
    </div>
  
</div>
