<!-- <wk-module-header headerText="{{committeeName + ' Committee'}}"></wk-module-header>
<div class="wk-flex" style="height: 425px;">
  <div style="width: 25%;padding: 10px 0px 10px 10px;" ><img class="wk-card" src="assets/images/food.jpg" height="400" width="100%" alt=""></div>
  <div style="width: 25%;padding:10px;margin: 10px;" class="wk-card">
    <div style="border-bottom: 1px solid gray;color:#409bd2;"><h3>Committee Members:</h3></div>
    <div>
      <div style="padding:5px;"><span>Pradipkumar Desai</span></div>
      <div style="padding:5px;"><span>Akshay Deshpande</span></div>
      <div style="padding:5px;"><span>Vikul Rathod</span></div>
      <div style="padding:5px;"><span>Sanket Bohrade</span></div>
    </div>
  </div>
  <div style="width: 45%;padding:10px;margin: 10px;" class="wk-card">
    <div style="border-bottom: 1px solid gray;color:#409bd2;"><h3>Upcoming Events:</h3></div>
    <div></div>
  </div>
</div>
<div style="padding:10px;">
  <div style="border-bottom: 1px solid gray;color:#409bd2;"><h3>Committee Description:</h3></div>
  <div style="padding:0px;"><span>Food committee is resposible for food related activities.</span></div>
</div> -->

<section class="detailTopSection">
	<wk-nav-bar></wk-nav-bar>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="innerDetailHeadingBox">
				<h3 class="committeeLandingHeading">
					GIC Pune Committees
				</h3>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</section>

<section class="detailInnerSection">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row innerInfoRow">
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/food">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/food.jpg);">
							<img src="../../../../assets/img/Committee/food.png" />
							<h4>Food</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/fun">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/fun.jpg);">
							<img src="../../../../assets/img/Committee/fun.png" />
							<h4>Fun</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/sports">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/sports.jpg);">
							<img src="../../../../assets/img/Committee/sports.png" />
							<h4>Sports</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/woman">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/women.jpg);">
							<img src="../../../../assets/img/Committee/woman.png" />
							<h4>Women's</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/security">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/security.png);">
							<img src="../../../../assets/img/Committee/Security.png" />
							<h4>Security</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/technology">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/technology.jpeg);">
							<img src="../../../../assets/img/Committee/technology.png" />
							<h4>Tech</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 detailInnerContainer">
					<a href="#" routerLink="/committees-details/csr">
						<div class="detailInnerBox"
							style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/CSR.jpg);">
							<img src="../../../../assets/img/Committee/CSR.png" />
							<h4>CSR</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>



</section>