.GIC-HR-DWNLDS1 {
    display: flex;
    margin: 10px;
  }
  
  .GIC-HR-DWNLDS2 {
    width: 30%;
    padding: 10px;
  }
  
  .GIC-HR-DWNLDS3 {
    width: 70%;
  }

  .GIC-HR-DWNLDS4 {
    color: #409bd2;
  }
  