.wk-nav-background{
    background: #757575 !important;
    height: 50px;
}
.wk-logo{
    background-image: url(/assets/images/wolters-kluwer-logo-large-dark.png);
    display: inline-block;
    height: 54px;
    width: 284px;
    border: 0;
    text-indent: -9999px;   
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100%;
    margin-left: 20px;
}
.wk-nav-text { 
  color: white;
}

.product-tag {
    color: #337ab7;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
}

.header-top-container {
    padding: 10px 10px;
    color: #a3a3a3;
    font-size: 15px;
   
}

