<!-- Back To Top Button -->

<!-- Static navbar -->
<nav class="navbar navbar-default siteNavbar">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" routerLink="/home"><img src="assets/img/logo - white.png" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> HR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/policies">Policies &amp; Procedures</a></li>
            <li><a href="#" routerLink="/emp-achievements">Employee Achievements</a></li>
            <li><a href="#" routerLink="/internal-openings">Internal Openings</a></li>
            <li><a href="#" routerLink="/downloads">Downloads</a></li>
            <li><a href="#" routerLink="/new-joinees">New Joinees</a></li>
            <li><a href="#" routerLink="/birthdays-this-month">Birthdays this month</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> Help Desk <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/admin">Admin</a></li>
            <li><a href="#" routerLink="/it-support">IT-Support</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> Hot Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.ess.adp.in/ESS4/Default.aspx">Payslip Site</a></li>
            <li><a
                href="https://www.myemploywise.com/asperm/servlet/ggs.erm.servlet.setup3.LoginS?customer_code=cchpune">EmployWise
                Portal</a></li>
            <li><a href="http://helpdesk.wk.pune/portal">IT Help Desk</a></li>
            <li><a href="http://10.110.2.21/LMP/ClientLogin.aspx">HireCraft Login</a></li>
            <li><a href="https://www.uhcpindia.com/web/login/customerlogin.aspx">Insuarance Login</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="" routerLink="/committees">Committees</a>
        </li>
        <li>
          <a href="#" class="" routerLink="/emp-dir">Emp. Directory</a>
        </li>
        <li *ngIf="true" class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/policies-update">HR Policies &amp; Procedures</a></li>
            <li><a href="#" routerLink="/adminpolicies-update">IT Policies &amp; Procedures</a></li>
            <li><a href="#" routerLink="/itpolicies-update">Admin Policies &amp; Procedures</a></li>
            <li><a href="#" routerLink="/achievements-update">Employee Achievements</a></li>
            <li><a href="#" routerLink="/openings-update">Internal Openings</a></li>
            <li><a href="#" routerLink="/commitees-update">Commitees</a></li>
            <li><a href="#" routerLink="/employees-update">Employee</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> <i class="fa fa-user"></i> {{authRslt}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/user-profile">My Profile</a></li>
            <!-- <li><a href="#">Logout</a></li> -->
          </ul>
          <!-- <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i> {{authRslt}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" routerLink="/user-profile">My Profile</a></li>
          <li><a href="#" routerLink="/super-admin">Admin management</a></li>
        </ul> -->
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>