<!-- <div style="height: 75px;display: flex;padding-top: 5px;">
  <div style="float: left;width: 80%;">
    <div><a class="navbar-brand wk-logo" href="#" routerLink="/home" ></a></div>
    
  </div>
  <div class="header-top-container" style="width: 20%;">
    <div style="float:right;">
      <a href="#"  style="color:gray;font-weight: bold;" routerLink="/about-us">About us</a> |<span class="glyphicon glyphicon-user"></span>
      <a href="#"  style="color:gray;font-weight: bold;" routerLink="/user-profile"> {{authRslt}}</a> 
    </div>

  </div>
</div>
<div style="height: 75px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light wk-nav-background" style="height: 75px;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Human Resources<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li><a class="wk-nav-sub-links" routerLink="/policies" href="#">Policies & Procedures</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/emp-achievements">Employee Achievement</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/internal-openings">Internal Openings</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/downloads">Downloads</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/new-joinees">New joinees</a></li>
            <li><a class="wk-nav-sub-links" routerLink="/birthdays-this-month">Birthdays this month</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Help Desk<span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/admin">Admin</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/it-support">IT Support</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Committees<span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/food">Food</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/fun">Fun</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/sport">Sports</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/women">Women's</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/security">Security</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/tech">Tech</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/committees/csr">CSR</a></li>
          </ul>
        </li>

        <li><a class="wk-nav-links" href="#" routerLink="/hot-links">Hot Links</a></li>

        <li class="dropdown"><a class="dropdown-toggle wk-nav-links" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="wk-nav-sub-links" routerLink="/projects/axcess">Axcess</a></li>
            <li><a href="#" class="wk-nav-sub-links" routerLink="/projects/ifirm">IFirm</a></li>
          </ul>
        </li>
        
       
        <li><a class="wk-nav-links" href="#" routerLink="/emp-dir">Employee Directory</a></li>
       
      </ul>
    </div>
  </nav>
</div> -->
<!-- Back To Top Button -->

  <!-- Static navbar -->
  <nav class="navbar navbar-default siteNavbar">
    <div class="">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"  routerLink="/home"><img src="assets/img/logo - white.png" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">				  
        <li class="dropdown">
        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> HR <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" routerLink="/policies">Policies &amp; Procedures</a></li>
          <li><a href="#" routerLink="/emp-achievements">Employee Achievements</a></li>
          <li><a href="#" routerLink="/internal-openings">Internal Openings</a></li>
          <li><a href="#" routerLink="/downloads">Downloads</a></li>
          <li><a href="#" routerLink="/new-joinees">New Joinees</a></li>
          <li><a href="#" routerLink="/birthdays-this-month">Birthdays this month</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Help Desk <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Admin</a></li>
          <li><a href="#">IT-Support</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Hot Links <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://www.ess.adp.in/ESS4/Default.aspx">Payslip Site</a></li>
          <li><a href="https://www.myemploywise.com/asperm/servlet/ggs.erm.servlet.setup3.LoginS?customer_code=cchpune">EmployWise Portal</a></li>
          <li><a href="http://helpdesk.wk.pune/portal">IT Help Desk</a></li>
          <li><a href="http://10.110.2.21/LMP/ClientLogin.aspx">HireCraft Login</a></li>
          <li><a href="https://www.uhcpindia.com/web/login/customerlogin.aspx">Insuarance Login</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Project 1</a></li>
          <li><a href="#">Project 2</a></li>
          <li><a href="#">Project 3</a></li>
        </ul>
        </li>
        <li>
        <a href="#" class="" routerLink="/emp-dir">Emp. Directory</a>					
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i> {{authRslt}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" routerLink="/user-profile">My Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
        </li>
      </ul>				
      </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
  </nav>

  